.cool{
    background-color:#D8D8D8 ;
}
.navbar-tabs{
   list-style-type:none; 
}
.navbar-item{
    display:block;
}


.navbar-item a{
  color:black;  
  font-size:20px;
}
.Gold{
    color:#B8B800;
    font-size:45;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 16px;
}
 /* The side navigation menu */
.Work{
    Display:inline;
}
.Special{
    color:purple ;
    font-family:cursive;
}
.Image{
display:inline;
}
.Buy{
    Background-color: 	#D8D8D8;
    color:black;
    font-size:15px;
    font-family:cursive;
}
.Buy:hover{
    background-color:#F0F0F0 ;
    color:black;
}







body{
    background-color:rgb(193, 207, 212);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li .active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
h1{
    font-size:20;
}
image{
    height:10px;
    width:20px;
}





